

  /* Define styles for the default root window element */
  :root  { 
  --background-color-primary: white;
  --background-color-secondary: #fafafa;
  --accent-color: #cacaca;
  --accent-secondary-color: green;
  --text-primary-color: #222;
  --text-secondary-color: #9DB2BF;
  --button-primary-color: #27374D;
  --element-size: 4rem;
}

/* Define styles for the root window with dark - mode preference */
  /* Define styles for the default root window element */
  :root.dark-theme  {
  --background-color-primary: black;
  --background-color-secondary: black;
  --accent-color: #3f3f3f;
  --accent-secondary-color: greenyellow;
  --text-primary-color: #ddd;
  --text-secondary-color: #DDE6ED;
  --button-primary-color: #27374D;
}

/* :root    {
  --background-color-primary: #274D;
  --background-color-secondary: #526D82;
  --accent-color: #3f3f3f;
  --accent-secondary-color: greenyellow;
  --text-primary-color: #ddd;
  --text-secondary-color: #DDE6ED;
  --button-primary-color: #27374D;
} */